.post_form  
  = simple_form_for @event, :html => { :multipart => true } do |f|
    = f.input :title, label: 'Title'
    = f.text_area :description, :class => 'ckeditor'
    = f.simple_fields_for :images do |i|
      = i.label "Image"
      = i.file_field :avatar


    = f.button :submit